/* 图片深色模式下反色 */
.dark img:not([alt*="&keep-color"]) {
    filter: invert(100%) hue-rotate(180deg) contrast(80%);
}

.avatar-img,
[data-waline] img {
    filter: none !important;
}

/* 页面切换时正文上滑动画 */
.vp-doc>div,
.VPHome {
    animation: page-slide-up 0.3s ease-out;
}

@keyframes page-slide-up {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 打印适配 */
@media print {

    .VPDocFooter .prev-next,
    .VPDocFooter .edit-link,
    .VPLocalNav,
    .VPNav {
        display: none;
    }

    body {
        font-size: 10pt;
        color: #000;
    }

    .vp-doc p {
        line-height: 1.8;
        margin: 0 0;
    }
}

:root {
    --vp-home-hero-image-background-image: linear-gradient(45deg, #546EC6 50%, #3551B2 50%);
    --vp-home-hero-image-filter: blur(40px);
}