/* 图片深色模式下反色 */
.dark img:not([alt*="&keep-color"]) {
    filter: invert(100%) hue-rotate(180deg) contrast(80%);
}

.avatar-img,
[data-waline] img {
    filter: none !important;
}

/* 打印下隐藏无关内容 */
@media print {

    .VPLocalNav,
    .VPNav {
        display: none;
    }

    .VPDocFooter .prev-next,
    .VPDocFooter .edit-link {
        display: none;
    }
}